lab1_lexical_analysis/__pycache__
lab1_lexical_analysis/lex_utils/__pycache__
lab1_lexical_analysis/analizator/__pycache__
lab1_lexical_analysis/analizator/rules.txt
lab1_lexical_analysis/.vscode
lab1_lexical_analysis/testovi
lab1_lexical_analysis/autograder.py
lab2_syntax_analysis/.vscode
lab2_syntax_analysis/syn_utils/__pycache__
lab2_syntax_analysis/analizator/parser_table.txt
lab2_syntax_analysis/testovi
lab2_syntax_analysis/autograder.py
lab3_semantic_analysis/testovi
lab3_semantic_analysis/.vscode
lab3_semantic_analysis/lex_utils
lab3_semantic_analysis/syn_utils
lab3_semantic_analysis/GLA.py
lab3_semantic_analysis/GSA.py
lab3_semantic_analysis/LA.py
lab3_semantic_analysis/SA.py
lab3_semantic_analysis/parser_table.txt
lab3_semantic_analysis/ppjC.lan
lab3_semantic_analysis/ppjC.san
lab3_semantic_analysis/program.c
lab3_semantic_analysis/rules.txt
lab3_semantic_analysis/ppjC.txt
lab3_semantic_analysis/autograder.py
lab4_code_generation/testovi
lab4_code_generation/.vscode
lab4_code_generation/lex_utils
lab4_code_generation/syn_utils
lab4_code_generation/GLA.py
lab4_code_generation/GSA.py
lab4_code_generation/LA.py
lab4_code_generation/SA.py
lab4_code_generation/parser_table.txt
lab4_code_generation/ppjC.lan
lab4_code_generation/ppjC.san
lab4_code_generation/program.c
lab4_code_generation/rules.txt
lab4_code_generation/ppjC.txt
lab4_code_generation/autograder.py
lab4_code_generation/friscasm.js
lab4_code_generation/friscjs.js
lab4_code_generation/main.js
lab4_code_generation/a.frisc
lab4_code_generation/__pycache__
lab4_code_generation/tst
