lab1_lexical_analysis/__pycache__
lab1_lexical_analysis/lex_utils/__pycache__
lab1_lexical_analysis/analizator/__pycache__
lab1_lexical_analysis/analizator/rules.txt
lab1_lexical_analysis/.vscode
lab1_lexical_analysis/testovi
lab1_lexical_analysis/autograder.py
lab2_syntax_analysis/.vscode
lab2_syntax_analysis/syn_utils/__pycache__
lab2_syntax_analysis/analizator/parser_table.txt
lab2_syntax_analysis/testovi
lab2_syntax_analysis/autograder.py
lab3_semantic_analysis/testovi
lab3_semantic_analysis/.vscode
lab3_semantic_analysis/lex_utils
lab3_semantic_analysis/syn_utils
lab3_semantic_analysis/GLA.py
lab3_semantic_analysis/GSA.py
lab3_semantic_analysis/LA.py
lab3_semantic_analysis/SA.py
lab3_semantic_analysis/parser_table.txt
lab3_semantic_analysis/ppjC.lan
lab3_semantic_analysis/ppjC.san
lab3_semantic_analysis/program.c
lab3_semantic_analysis/rules.txt
lab4_code_generation/testovi

