lab1_lexical_analysis/__pycache__
lab1_lexical_analysis/lex_utils/__pycache__
lab1_lexical_analysis/analizator/__pycache__
lab1_lexical_analysis/analizator/rules.txt
lab1_lexical_analysis/.vscode
lab1_lexical_analysis/testovi
lab1_lexical_analysis/autograder.py
lab2_syntax_analysis/.vscode
lab2_syntax_analysis/syn_utils/__pycache__
lab2_syntax_analysis/analizator/parsing_table.txt

